.Select {
    grid-column: 2 / 4;
    text-align: left;
    align-self: center;
}

@media (max-width: 960px) {
    .Select {
        grid-column: 1 / 4;
    }
}

@media (max-width: 600px) {
    .Select {
        grid-column: 2 / 6;
    }
}

