.Day {
    border-bottom: thin solid lightgray;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(70px, auto)
}

.Day img{
    height: 100%;
    justify-self: center;
}