.Days {
    grid-column: 1 / 7;
    grid-row-start: 2;
  }

.DayBlock {
  margin-top: 70px;
}

.DayBlock > p {
  font-weight: bold;
}

.CityName {
    font-size: 120%;
    margin-top: 35px;
}

@media (max-width: 600px) {    
  .Days {
      grid-row-start: 3;
  }
}