.App {
  max-width: 960px;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(70px, auto);
  grid-gap: 10px;
  margin: 0 auto;
  text-align: center;
}

.App header {
  grid-column: 1 / 4;
  background-color: aqua;
}