.App {
  max-width: 960px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(80px, auto);
  grid-gap: 10px;
  margin: 20px auto;
  text-align: center;
}

.App div:first-of-type {
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr
}

.App div:nth-of-type(2) {
  align-self: center;
}

.App div:nth-of-type(3) {
  grid-row: 2 / 3;
  justify-self: start;
}